# Working With Pandas Data Frames
---

* Import the pandas library as pd and read in the csv that we just wrote as a data frame using the `read_csv`.

In [3]:
import pandas as pd
df = pd.read_csv('C:/Users/Dhiraj/Documents/SDC_workshop_2018-02-10/shell/data/processed_data/gapminder.csv')
df.head()

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1997  22227415.0      Asia   41.763  635.341351
1  Afghanistan  2002  25268405.0      Asia   42.129  726.734055
2  Afghanistan  2007  31889923.0      Asia   43.828  974.580338
3  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
4  Afghanistan  1957   9240934.0      Asia   30.332  820.853030

* return the data frame from jupyter to view it (pretty)

In [ ]:
df

In [16]:
allcountries_df = pd.read_csv("C:/Users/Dhiraj/Documents/SDC_workshop_2018-02-10/shell/data/processed_data/gapminder.csv")
allcountries_df.head()
df_t = allcountries_df
years = sorted(list(df_t['year'].unique()))
for year in years:
    col_name = "gdpPercap_" + str(year)
    df_t[col_name] = 0
    
for y in years:
    df_t.loc[df_t.year == y, "gdpPercap_" + str(y)] = df_t["gdpPercap"]
    df_t = df_t.groupby(df_t["country"]).max()
df_t["pop2007"] = df_t["pop"]
df_t["lifeExp2007"] = df_t["lifeExp"]
df_t.drop("country", axis=1, inplace=True)
df_t.drop("gdpPercap", axis=1, inplace=True)
df_t.drop("year", axis=1, inplace=True)
df_t.drop("lifeExp", axis=1, inplace=True)

continents = df_t["continent"].unique()

df_t.to_csv("C:/Users/Dhiraj/Documents/SDC_workshop_2018-02-10/shell/data/processed_data/gapminder_All.csv")
for continent in continents:
    new_df = df_t.loc[df_t["continent"] == continent]
    newfilename = "gapminder_" + continent + ".csv"
    new_df.to_csv("C:/Users/Dhiraj/Documents/SDC_workshop_2018-02-10/shell/data/processed_data/" + newfilename)
    
    df.to_csv("C:/Users/Dhiraj/Documents/SDC_workshop_2018-02-10/shell/data/processed_data/aaa.txt")

* What if we wanted to break up all the data into files for each continent?
* What if we wanted to have only one row for each country?
  * We would have to have columns for each year
  
** Don't worry about all of the code in the block below. By the end of this section it will make sense. **

In [4]:
### did not work

allcountries_df = pd.read_csv("C:/Users/Dhiraj/Documents/SDC_workshop_2018-02-10/shell/data/processed_data/gapminder.csv")
df_t = allcountries_df

years = sorted(list(df_t['year'].unique()))
# Convert years to strings

for year in years:
    col_name = "gdpPercap_" + str(year)
    df_t[col_name] = 0

for y in years:
    df_t.loc[df_t.year == y, "gdpPercap_" + str(y)] = df_t["gdpPercap"]

df_t = df_t.groupby(df_t["country"]).max()
df_t["pop2007"] = df_t["pop"]
df_t["lifeExp2007"] = df_t["lifeExp"]

df_t.drop("country", axis=1, inplace=True)
df_t.drop("gdpPercap", axis=1, inplace=True)
df_t.drop("year", axis=1, inplace=True)
df_t.drop("lifeExp", axis=1, inplace=True)

continents = df_t["continent"].unique()

df_t.to_csv("./data/gapminder_All.csv")

for continent in continents:
    new_df = df_t.loc[df_t["continent"] == continent]
    newfilename = "gapminder_" + continent + ".csv"
    new_df.to_csv("./data/" + newfilename)
    
    df.to_csv("./data/")

FileNotFoundError: [Errno 2] No such file or directory: './data/gapminder_All.csv'

* Check out our data folder after we ran this script. We now have six additional csv files.
    ~~~
    * gapminder_All.csv
    * gapminder_Oceana.csv
    * gapminder_Europe.csv
    * gapminder_Asia.csv
    * gapminder_Americas.csv
    * gapminder_Africa.csv
    ~~~

Lets read in the Africa csv to see how the structure has changed.

In [18]:
df_africa = pd.read_csv('C:/Users/Dhiraj/Documents/SDC_workshop_2018-02-10/shell/data/processed_data/gapminder_Africa.csv')
df_africa.head()

,country,pop,continent,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007,pop2007,lifeExp2007
0,Algeria,33333216.0,Africa,2449.008185,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6223.367465,33333216.0,72.301
1,Angola,12420476.0,Africa,3520.610273,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5522.776375,12420476.0,42.731
2,Benin,8078314.0,Africa,1062.752200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1441.284873,8078314.0,56.728
3,Botswana,1639131.0,Africa,851.241141,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12569.851770,1639131.0,63.622
4,Burkina Faso,14326203.0,Africa,543.255241,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1217.032994,14326203.0,52.295

We can see that now there is only one row for each country. Lets re-read the file using the index_col parameter

In [20]:
df_africa.dtypes
df_africa.shape

(52, 17)

## Inspecting Data
We've already see how we can get information about a dataframe using the `.info()` and `.describe()` functions, but there are many ways to get information and view a data frame

* Can also use describe() on data frame selections (like a single column)

In [23]:
df_africa.columns

Index(['country', 'pop', 'continent', 'gdpPercap_1952', 'gdpPercap_1957',
       'gdpPercap_1962', 'gdpPercap_1967', 'gdpPercap_1972', 'gdpPercap_1977',
       'gdpPercap_1982', 'gdpPercap_1987', 'gdpPercap_1992', 'gdpPercap_1997',
       'gdpPercap_2002', 'gdpPercap_2007', 'pop2007', 'lifeExp2007'],
      dtype='object')

* We can print the first or last x number of rows of our data frame using the head() and tails() functions.

In [ ]:
# heads() function

In [ ]:
# tails() function

* **Note:** head() and tail() default to 5 rows worth of data. We can also pass a value to either to get more or less rows.
  * E.g.  
  head(10)
  
 ---
  
* Use `.dtypes` method to get the data type for each column

In [ ]:
# Write your code here

* Use `shape` method to get the row and column numbers

In [ ]:
# Write your code here

Here we can see the that the data have 52 rows of data and 18 attributes worth of information.

* Use the `len()` function to get numbers of each individually

In [ ]:
# print number of rows of data

In [ ]:
# print number of columns of data

* As seen before we can pass the data frame a column name to get all values for that column


* Print out only the lifeExp2007 column from the data frame

In [ ]:
# Write your code here

---
## EXERCISE:
1. How many different country names are there in the gapminder_all.csv file?

---

In [31]:
# Write your code here
df= pd.read_csv ("C:/Users/Dhiraj/Documents/SDC_workshop_2018-02-10/shell/data/processed_data/gapminder_All.csv")
df.head
df.shape

(142, 17)

---
## EXERCISE:
1. What is the last country listed in the Africa data frame?

---

In [ ]:
##Three ways to get the number of countries in the gapminder_All.csv file:
    
df_all = pd.read_csv("C:/Users/Dhiraj/Documents/SDC_workshop_2018-02-10/shell/data/processed_data/gapminder_All.csv", index_col="country")

print(len(df_all.index.unique().tolist()))
print(len(df_all))
print(df_all.shape[0])

---
## Get information about a particular column

* Operations like mean, max, min, can be used on individual columns
  * E.g. `df['year'].min()`

In [ ]:
# What is the minimum value in the year column?

---
## EXERCISE:
1. What is the mean life expectancy in 2007 for all countries in all years

1. What is the max population in 2007 for all countries in all years

1. What is the standard deviation for GDP per capita for all countries in all years

In [ ]:
df = pd.read_csv("./data/gapminder_all.csv")
# Mean Life Expectancy in 2007

# Max Population in 2007

# Standard Deviation of GDP per capita in 1952

## Rearange Columns

* This is difficult to do using a csv library or by hand
* The reverse() function will reverse the ordering of a list
     * E.g.   `['a', 'b', 'c']` to `['c', 'b', 'a']`

In [ ]:
# Use the python list() function to get the data frame columns a s list
cols = list(df.columns)
print( cols )

# use the .reverse() function to reverse the ordering of the columns

print ( cols )

* Using that now reversed list above, we can pass the list to the new data frame to reorder the columns

In [ ]:
# Pass the cols variable to the data frame to re-arrange the columns

## Transposing tables

In many cases we may need to transpose the column and rows in a table.  Pandas allows us to to this easily with the `T` command.

In [ ]:
# Print first three rows of the data frame

# Transpose the dataframe and print the first three rows

---
## EXERCISE:
1. Read in a new data frame for the gapminder_Americas.csv file
2. Print the last last three columns of the data frame

---
## Selecting values

Data Frames provides a index as a way to identify the rows of the table. A row also has a position inside the table as well as a label, which uniquely identifies its entry in the DataFrame.

To access a value at the position [ i , j ] (row, column) of a Data Frame, we have two options, depending on what is the meaning of i in use.

### Use DataFrame.iloc[..., ...] to select values by their position
* Allows you to specify location by numerical index similar to 2D version of character selection in strings.

In [ ]:
print("\nData value in first row at first column: ", df.iloc[0, 0])

In [ ]:
print("\nData value in fifth row at third column: ", df.iloc[4, 2])

### Use `DataFrame.loc[..., ...]` to select values by their (index) label.

*   Can specify location by name or by numerical index.

In [ ]:
# Print the value of Albanias GDP per capita in 1952 using .loc

In [ ]:
# Print the value of Bulgarias GDP per capita in 1962 using .loc

---
## EXERCISE
~~~
import pandas
df = pandas.read_csv('data/gapminder_Europe.csv', index_col='country')
~~~

1. Find the Per Capita GDP for Serbia in 2007.
1. Find the Per Capita GDPs for Germany in 1982

In [ ]:
# Write your code here

---
## Slicing Data Frames

### Use `:` on its own to mean all columns or all rows.

*   Just like Python's usual slicing notation, we can print all columns or all rows with `.loc` using the `:`

In [ ]:
# Print all of the row values for all years for Egypt

* Would get the same result printing `df.iloc[0]` (without a second index).
* We can also omit the `:` and get all rows.
    * e.g. `df.loc["Albania"]`

In [ ]:
# Print the GDP per capita for all countries in 1952

*   Would get the same result printing `df["gdpPercap_1952"]`
*   Also get the same result printing `df.gdpPercap_1952` (since it's a column name)

---
## EXERCISE:
1. Print out GDP per capita for all countries in asia in 1972

In [ ]:
# Write your code here

---
### We can also use the `:` to select whole sections of a table 
* Similar to the way we would select a section of from a normal python list, we can do the same with data frames.

In [ ]:
# Print a selection of all countries in the table from Italy to Poland from years 1962 to 1972

Note that in Pandas **slicing using indexes is inclusive at both ends**, which differs from typical python behavior where slicing indicates everything up to but not including the final index.

### Select multiple columns or rows using `DataFrame.iloc` and a named slice.
* We can also make selection from a data frame using the index location of the row or column
    * Remember that in programming languages, we start counting at 0

In [ ]:
#Print the first row of the data frame using the .head() function
print("First row of data frame:\n",  )

# Use iloc to print the value in the first row of the first column
print("\n\nValue in the first row of the first column:\n",  )

# Use iloc to print the values of the first two columns in the first row
print("Values in the first two columes in the first row:\n",  )

* **Note that unlike slicing using column or row names, slicing using indexes is not inclusive**

---
## EXERCISE:
1. Print out all values from Hungary through Montenegro (Europe data) for the years 1977 through 1997

In [ ]:
# Write code here

---
## EXERCISE:
1.  Do the two statements below produce the same output?
    ~~~
    print(df.iloc[0:2, 0:2])
    print(df.loc['Albania':'Belgium', 'gdpPercap_1952':'gdpPercap_1962'])
    ~~~

1.  Based on this,what rule governs what is included (or not) in numerical slices and named slices in Pandas?

---
### Slicing individual rows and columns
* Instead of creating slices of *this* to *that* using the `:`, we can also slice using individual rows and columns by placing names or indexes in brackets `[]`.

In [ ]:
# Print out the GDP per capita of only Italy, Austria, and the United Kingdom in the years 2007 and 1957

---
## EXERCISE:
1. Using the index locations, `print` out the first, third, and eight columns for the sixteenth through nineteenth rows.

---
## Result of slicing can be used in further operations.

In [ ]:
# Print out the max value (.max()) of ALL countries from Italy to Poland for 1962 to 1972

In [ ]:
# Print out the min value (.min()) of ALL countries from Italy to Poland for 1962 to 1972

*   Usually don't just print a slice.
*   All the statistical operators that work on entire data frames work the same way on slices.

## Create data frame from selections

* We can create new data frame by selecting data frames based on values and assigining it to a variable

In [ ]:
# Create a selection of ALL countries from Italy to Poland for 1962 to 1972 and 
#  assign the selection to a variable name "subset_df"

print('Subset of data:\n', subset_df)

## Create DataFrame using query
* We can query values in a data frame to create new selections
* By passing a dataframe query to itself, we can create a new dataframe with only those values

In [ ]:
# Create a query for the "gdpPerCap_1962" series in out subset_df data frame for all values greater than 10000

# Create a new data frame called subset_10k_df by passing that query to the subset_df data frame


print(query_10k)
print(subset_10k_df)
print(subset_10k_df.shape)

---
## EXERCISE:

* Create three data frames and get the size of each one.
    1. Countries with a gdp per capita in 1952 above 10000
    1. Countries with a gdp per capita in 1962 above 10000
    1. Countries with a gdp per capita in 1972 above 10000

---

## Filter a DataFrame using a Boolean mask

* A frame full of Booleans is sometimes called a *mask* because of how it can be used
* Comparison is applied element by element
* Returns a similarly-shaped data frame of `True` and `False`

In [ ]:
# Create a full data frame mask for subset_df with a query for all values in all years greater than 10000
mask_10k = 

print( mask_10k )

* We can use masks to filter an entire dataframe with a single query
    * More efficient than using a single query on multiple columns

In [ ]:
# Pass the mask query to subset_df to create a new data frame mask_subset
mask_subset = 

print(mask_subset)
print("Shape: ", mask_subset.shape)

*   Returns the value where the mask is true, and NaN (Not a Number) where it is false.
*   Useful because NaNs are ignored by operations like max, min, average, etc.


* If we wanted to remove all rows with a NaN value in any column we could use the `.dropna()` function

In [ ]:
# Print the mask_subset data frame with all rows with a single NaN value removed


# Print the shape of the mask_subset data frame with all rows with an NaN values removed

## Create new columns

* We can easily create new columns in the same way we would add a key and value to a dictionary

In [ ]:
# Create a new column in data frame called diff_07_52 that is the difference between gdp per capita from 1952 to 2007


print(df.head(1))

---
## EtherPad

On EtherPad explain what the follow expression does:

    only_Am = df[df['continent'] == 'Americas']

___

## EXERCISE:
1. Explain in simple terms what `idxmin` and `idxmax` do in the short program below.
    ~~~
    df = pd.read_csv('data/gapminder_gdp_europe.csv', index_col='country')
    print(df.idxmin())
    print(df.idymax())
    ~~~

2. When would you use these methods?

---
## PRACTICE EXERCISE.
Using the Gapminder GDP data for Europe, write an expression to select each of the following:
1.  GDP per capita for all countries in 1982.
1.  GDP per capita for Denmark for all years.
1.  GDP per capita for all countries for years *after* 1985.
1.  GDP per capita for each country in 2007 as a multiple of GDP per capita for that country in 1952.
---

# -- COMMIT YOUR WORK TO GITHUB --

---
## Keypoints:
 - "Use `DataFrame.iloc[..., ...]` to select values by index location."
 - "Use `:` on its own to mean all columns or all rows."
 - "Select multiple columns or rows using `DataFrame.ix` and a named slice."
 - "Result of slicing can be used in further operations."
 - "Use comparisons to select data based on value."
 - "Select values or NaN using a Boolean mask."